.container
	.row
		.col-md-6
			.panel.panel-primary{:style => 'text-align:center'}
				.panel-heading
					.panel-title
						.row
							.col-lg-12
								%h1{:style => 'font-weight: bold'}
									=@profile.user.name.capitalize
						.row
							.col-lg-12
								<center>
								=image_tag(@profile.image_url, class: 'img-responsive img-rounded', style: 'height:300px; width:300px')
								</center>
				.panel-body
					.row
						.col-md-6
							%h5{:style => 'font-weight:bold'}
								Location:
							%h5
								=@profile.location.capitalize
						.col-md-6
							%h5{:style => 'font-weight: bold'}
								Occupation:
							%h5
								=@profile.occupation.capitalize
					.row
						.col-lg-12
							%h5{:style => 'font-weight: bold'}
								About Me
							%h5
								=@profile.about_me
							-if logged_in? && @profile.user_id == current_user.id
								=link_to 'Edit Profile', edit_profile_path(@profile), :class => 'btn btn-warning'
							-elsif logged_in? && current_user.admin?
								=link_to 'Edit Profile', edit_profile_path(@profile), :class => 'btn btn-warning'
		.col-md-6
			.panel.panel-primary{:style => 'text-align:center'}
				.panel-heading
					.panel-title
						%h1 Wall Posts
				.panel-body
					-@profile.comments.each do |comment|
						-if @profile.comments.length == 0
							%h5 No Wall Posts Yet!
						-else
							=render partial: 'comments/comments', locals: { commentable: @profile}
					-if logged_in?
						=render partial: 'comments/comment_form', locals: {commentable: @profile}
