.container
	.row
		.col-md-6
			.panel.panel-primary{:style => 'text-align:center'}
				.panel-heading
					.panel-title
						.row
							.col-lg-12
								%h1{:style => 'font-weight: bold'}
									=@profile.user.name.capitalize
						.row
							.col-lg-12
								<center>
								=image_tag(@profile.image_url, class: 'img-responsive img-rounded')
								</center>
				.panel-body
					.row
						.col-md-6
							%h5{:style => 'font-weight:bold'}
								Location:
							%h5
								=@profile.location.capitalize
						.col-md-6
							%h5{:style => 'font-weight: bold'}
								Occupation:
							%h5
								=@profile.occupation.capitalize
					.row
						.col-lg-12
							%h5{:style => 'font-weight: bold'}
								About Me
							%h5
								=@profile.about_me
