-commentable.comments.each do |comment|
	.well
		.row
			.col-md-6
				%h5{:style => 'font-weight:bold'} Posted by:
				-@users.each do |user|
					-if user.id == comment.user_id
						-@commenter = user
				%h5
					=@commenter.name
				=link_to 'View Profile', profile_path(@commenter.profile)
			.col-md-6
				%h5{:style => 'font-weight: bold'}
					Wall Post:
				%h5
					= '"' + comment.body + '"'
				-#Admins can delete any comments in posts or profiles
				-if logged_in? && current_user.admin?
					=link_to 'Delete Comment', comment, method: :delete, data: { confirm: "Are you sure?"}, :id => 'delete_one'
				-#Users can delete their own comments on posts
				-if logged_in? && comment.user_id == current_user.id && comment.commentable_type == "Post" && !current_user.admin?
					=link_to 'Delete Comment', comment, method: :delete, data: { confirm: "Are you sure?"}, :id => 'delete_two'
				-#Users can delete any comment on their profiles
				-if logged_in? && comment.commentable_type == "Profile" && commentable.user_id == current_user.id && !current_user.admin?
					=link_to 'Delete Comment', comment, method: :delete, data: {confirm: "Are you sure?"}, :id => 'delete_three'
