.container
	.row
		.col-md-12
			%h1 All Members
			%ul.data-index
				-@users.each do |user|
					%li
						%h5{:style => 'font-weight:bold'}
							Name:
						%h5
							=user.name
						%h5{:style => 'font-weight:bold'}
							Location:
						%h5
							=user.profile.location
						=link_to 'View Profile', profile_path(user.profile)
						=if current_user.admin? && !current_user?(user)
							-link_to 'Delete', user, method: :delete,
														data: { confirm: "Are you sure?"}, :class => "btn btn-danger"

			=will_paginate
