.container
	.row
		.col-md-12
			%h1 All Posts
			=will_paginate
			%ul.data-index
				-@posts.each do |post|
					%li
						%h5
							=link_to post.title, post
							%h5 by
							%h5
								=post.user.name
						=link_to 'Read More', post_path(post), :class => 'btn btn-primary'
						=link_to 'Edit', edit_post_path(post), :class => 'btn btn-warning'
						=link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure you wish to delete this post? This cannot  be undone'}, :class => 'btn btn-danger'
			=will_paginate	

