.container
	.row
		.col-md-2
		.col-md-8
			
			%ul.data-index{:style => "text-align:center"}
				%h1 Welcome to Discusserly! A place for <bold>fun, intelligent and respectful discussion.</bold>
				-if not logged_in?
					=link_to 'Sign Up free to join the discussion', new_user_path
				%h1 Posts
				-if logged_in?
					=link_to 'New Post', new_post_path, :class => 'btn btn-success'
				-@posts.each do |post|
					%li
						.panel.panel-primary{:style => "text-align:center"}
							.panel-heading
								.panel-title
									=link_to post.title, post
							.panel-body
								%h5
									-#by
									-#=post.user.name
								%h5
									Submitted on:
									=post.created_at.strftime("%a, %B %d, %Y")
								
								-#Preview of text
								%p
									=post.content.html_safe[0, 200] + "..."
								<center>
								=link_to 'Read More...', post_path(post), :class => 'btn btn-primary'
								%br
								-if logged_in? && current_user.admin?
									-#Admin Users Will See Edit and Delete Options for All Posts
									=link_to 'Edit', edit_post_path(post), :class => 'btn btn-warning'
									=link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you wish to delete this post? This cannot  be undone'}, :class => 'btn btn-danger'
								-elsif logged_in? && post.user_id == current_user.id
									-#Users can only see Edit and Delete Options for their Own Posts
									=link_to 'Edit', edit_post_path(post), :class => 'btn btn-warning'
									=link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you wish to delete this post? This cannot be undone'}, :class => 'btn btn-danger'
								</center>
				=will_paginate	
		.col-md-2
