.container
	.row
		.col-md-6
			.panel.panel-primary{:style => 'text-align:center'}
				.panel-heading
					.panel-title
						=@post.title
				.panel-body
					%h5
						by
						=@post.user.name
					%p
						Submitted on:
						=@post_submitted_at
					%h6
						=@post.content.html_safe
					-if logged_in? && @post.user_id == current_user.id
						=link_to 'Edit', edit_post_path(@post), :class => 'btn btn-warning'
						=link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure you wish to delete this post? This cannot be undone.'}, :class => 'btn  btn-danger'
