.container
	.row
		.col-md-6
			.panel.panel-primary{:style => 'text-align:center'}
				.panel-heading
					.panel-title
						=@post.title
				.panel-body
					%h5
						by
						=@post.user.name
					%p
						Submitted on:
						=@post_submitted_at
					%p
						=@post.content
