@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "slidebars";

body {
	background-color: #f0eee0;
}

.discusserly-button {
	padding: 1em 1.8em;
	display: inline-block;
	background-color: rgba(245, 72, 74, 0.9);
	color: #fff;
	border-radius: 20em;
	
}

.users-index {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid;
	}
}
