.container
	.row
		.col-md-6
			.panel.panel-primary{:style => 'text-align:center'}
				.panel-heading
					.panel-title
						-#%h5
							=@profile.user.name
						%h5
							=@profile.location
						%h5
							=@profile.occupation
						%img{:src => '@profile.image_url', :class => 'img-responsive img-rounded', :style => 'height:250px; width:250px'}
		.col-md-6
			.panel.panel-primary
				.panel-body
					%h5
						=@profile.about_me
